@tailwind base;
@tailwind components;
@tailwind utilities;
/* Small screens */
@media (max-width: 768px) {
  .journey {
    padding: 20px;
  }
  .journey .container {
    padding: 0;
  }
  .journey .timeline-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .journey .timeline-item .sticky {
    top: 0;
  }
  .journey .timeline-item .relative {
    margin-top: 20px;
  }
}

/* Medium screens */
@media (min-width: 769px) and (max-width: 992px) {
  .journey {
    padding: 40px;
  }
  .journey .container {
    padding: 20px;
  }
  .journey .timeline-item {
    width: 50%;
    margin-bottom: 40px;
  }
  .journey .timeline-item .sticky {
    top: 60px;
  }
  .journey .timeline-item .relative {
    margin-top: 40px;
  }
}

/* Large screens */
@media (min-width: 993px) {
  .journey {
    padding: 60px;
  }
  .journey .container {
    padding: 40px;
  }
  .journey .timeline-item {
    width: 33.33%;
    margin-bottom: 60px;
  }
  .journey .timeline-item .sticky {
    top: 60px;
  }
  .journey .timeline-item .relative {
    margin-top: 60px;
  }
}